<!DOCTYPE HTML>
<html>
	<head>
		<title>SI 507 final project: A movie recommendation system</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="author" content="Yilin Li">
		<link rel="stylesheet" href="../static/main.css" />
	</head>
	<body>
		<div class = "first_block">
			<div class = "first_doc">
				<h1><a href = "index.html">A movie recommendation system</a></h1>
			</div>
		</div>
		<div class = "options">
			<ul>
				<li><a href = "search_by_filter.html">search by filter</a></li>
				<li><a href = "search_by_keywords.html">search by keywords</a></li>
				<li><a href = "search_local_theater.html">search local cinema</a></li>
			</ul>
		</div>

	</body>
</html>