<!DOCTYPE html>
<html>
    <head>
        <title>Search by filter</title>
        <meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="author" content="Yilin Li">
		<link rel="stylesheet" href="../static/main.css" />
    </head>
    <body>
        <div class = "inputoption">
            <p>
                What's your fave genre?
                <select name="genre">
                    <option value="fiction">Green</option>
                    <option value="comdey">Blue</option>
                    <option value="fanshion">Red</option>
                </select>
            </p>
        </div>
    </body>
</html>